* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #7681a2;
  width: 100vw;
  height: 100vh;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  background-color: #7681a2;
  font-size: 1.1em;
}

.square:hover {
  background-color: lightblue;
}

.header {
  background-color: #4e5c85;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: calc(10px + 2vmin);

  margin-bottom: 100px;
}

.header .title {
  justify-self: center;
  align-self: center;
}

